<div>
  <h2>Update Disease</h2>

  <form #form="ngForm" (ngSubmit)="submit(form.disease)" class="border">
    <table>
      <tr>
        <td><label>DiseaseId:</label></td>
        <td>
          <input type="number" name="diseaseId" [(ngModel)]="disease.diseaseId" required #diseaseId="ngModel">
          <small [hidden]="diseaseId.valid || (diseaseId.pristine && !form.submitted)">
              Disease Id is required field.
          </small>
        </td>
      </tr>
      <tr>
        <td><label>Name:</label></td>
        <td>
          <input type="text" name="name" [(ngModel)]="disease.name" required #name="ngModel">
          <small [hidden]="name.valid || (name.pristine && !form.submitted)">
              Name is required field.
          </small>
        </td>
      </tr>
      <tr>
        <td><label>Description:</label></td>
        <td>
          <input type="text" name="description" [(ngModel)]="disease.description" required #description="ngModel">
          <small [hidden]="description.valid || (description.pristine && !form.submitted)">
              Description is required field.
          </small>
        </td>
      </tr>
      <tr>
        <td><label>Symptoms:</label></td>
        <td><input type="text" name="symptoms" [(ngModel)]="disease.symptoms"></td>
      </tr>
      <tr>
        <td><label>Remedy:</label></td>
        <td><input type="text" name="remedy" [(ngModel)]="disease.remedy"></td>
      </tr>
      <tr>
        <td><label>ImageUrl:</label></td>
        <td><input type="text" name="imageUrl" [(ngModel)]="disease.imageUrl"></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit" [disabled]="!form.form.valid">Submit</button></td>
        <td><a href (click)="back()">Back</a></td>
      </tr>
    </table>
  </form>
</div>